<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ScheDulJ.Properties.Settings.ScheDulJ2ConnectionString"
            connectionString="Data Source=FRANNOTEBOOK\TESTSERVER;Initial Catalog=ScheDulJ2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ScheDulJ.Properties.Settings.ScheDulJ2ConnectionStringMarcos"
            connectionString="Data Source=MARKY\PAV1;Initial Catalog=ScheDulJ2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ScheDulJ.Properties.Settings.ScheDulJConnectionString"
            connectionString="Data Source=FRANNOTEBOOK\TESTSERVER;Initial Catalog=ScheDulJ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>